footer {
    background-color: rgb(207, 125, 81);
    font-weight: bold;
}

footer a {
    color: #ffe8d6ff;
    text-decoration: none;
}

li a:hover {
    background-color: #6b705cff;
    border-radius: 0.5em;
    color: #ffe8d6ff;
}

footer img {
    width: 36px;
    height: 36px;
}

footer li {
    display: inline;
}

.socials {
    margin-top: 5px;
}