.intro {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#avatar {
    width: 48px;
    height: 48px;
}

#project-section {
    background-color: rgb(207, 125, 81);
}

.projects {
    display: grid;
    gap: 1rem;
    padding: 30px;
    padding-top: 0;
}

.projects h2 {
    padding-left: 50px;
}

.project-card {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #ffe8d6ff;
    border-radius: 5px;
    box-shadow: 20px;
}

.project-card p {
    color: rgb(64, 67, 55);
}

.project-card a {
    font-family: 'Oooh Baby', cursive;
}

@media (min-width: 600px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}